@font-face {
    font-family: "SB AggroOTF Light";
    src: url("sb_aggro_l.eot"); /* IE9 */
    src: url("sb_aggro_l.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("sb_aggro_l.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("sb_aggro_l.woff") format("woff"), /* chrome, firefox */
    url("sb_aggro_l.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("sb_aggro_l.svg#SB AggroOTF Light") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


