@font-face {
    font-family: "S-Core Dream 4 Regular";
    src: url("SCDream4.eot"); /* IE9 */
    src: url("SCDream4.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("SCDream4.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("SCDream4.woff") format("woff"), /* chrome, firefox */
    url("SCDream4.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("SCDream4.svg#S-Core Dream 4 Regular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


