@font-face {
    font-family: "S-Core Dream 9 Black";
    src: url("SCDream9.eot"); /* IE9 */
    src: url("SCDream9.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("SCDream9.woff2") format("woff2"), /* chrome 36+, firefox 39+,iOS 10+, Android 67+ */
    url("SCDream9.woff") format("woff"), /* chrome, firefox */
    url("SCDream9.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("SCDream9.svg#S-Core Dream 9 Black") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


